@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    background-image: url("../images/header/Header\ Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.header-div {
    max-width: 1060px;
    text-align: center;
}

.header-div h1 {
    margin: 0 auto;
    font-family: "Luckiest Guy", cursive;
    width: 40%;
    font-size: 4rem;
    font-weight: 800;
}

.header-div p {
    margin: 55px 0 30px 0;
    line-height: 1.6;
    font-size: 1.2rem;
}

.header-button-1 {
    margin: 24px;
    padding: 20px 40px;
    border-radius: 32px;
    font-size: 20px;
    color: #23272A;
}

.header-button-2 {
    margin: 24px;
    padding: 20px 40px;
    border-radius: 32px;
    font-size: 20px;
    background-color: #23272A;
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .header-div {
        max-width: 900px;
    }

    .header-div h1 {
        font-size: 3.5rem;
        width: 500px;
        letter-spacing: 0.05em;
    }

    .header-div p {
        margin: 40px 0 35px 0;
        line-height: 1.6;
        font-size: 1.13rem;
    }

    .header-button-1 {
        padding: 20px 40px;
        border-radius: 32px;
        font-size: 18px;
        color: #23272A;
    }
    
    .header-button-2 {
        padding: 20px 40px;
        border-radius: 32px;
        font-size: 18px;
        background-color: #23272A;
        color: whitesmoke;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

}

@media screen and (max-width: 430px) {
    .page-header {
        display: auto;
        justify-content: initial;
        align-items: initial;
        width: 100%;
        padding: 20px;
        min-height: 60vh;
        background-image: url("../images/header/Header\ Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: whitesmoke;
    }

    .header-div {
        max-width: 100%;
        text-align: left;
    }

    .header-div h1 {
        margin: 0;
        font-size: 2.5rem;
        width: 90%;
        letter-spacing: 0.05em;
    }

    .header-div p {
        margin: 40px 0 35px 0;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    .header-button-1 {
        width: 100%;
        margin: 0;
        padding: 20px 40px;
        border-radius: 32px;
        font-size: 1.2rem;
        color: #23272A;
    }
    
    .header-button-2 {
        width: 100%;
        margin: 25px 0;
        padding: 20px 40px;
        border-radius: 32px;
        font-size: 1.2rem;
        background-color: #23272A;
        color: whitesmoke;
    }
}

/*  SECTION 1 */

section {
    color: #23272A;

}

.section1 {
    box-sizing: content-box;
    width: 100%;
    padding: 50px 25px 50px 0;
}

.section1-div {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.section1-div img {
    width: 720px;
    height: auto;
}

.section1-content {
    width: 420px;
}

.section1-content h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.2;
}

.section1-content p {
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section1 {
        padding: 45px 20px 45px 0;
    }
    
    .section1-div {
        margin: 0 auto;
        width: 900px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .section1-div img {
        width: 607px;
        height: auto;
    }
    
    .section1-content {
        width: 270px;
    }
    
    .section1-content h2 {
        font-size: 2.1rem;
        font-weight: 800;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    
    .section1-content p {
        font-size: 1.13rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

}

@media screen and (max-width: 430px) {
    .section1 {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .section1-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .section1-div img {
        width: 100%;
        height: auto;
    }

    .section1-content {
        width: 100%;
    }

    .section1-content h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    .section1-content p {
        font-size: 1.2rem;
    }
}

/* SECTION 2 */

.section2 {
    box-sizing: content-box;
    width: 100%;
    padding: 50px 25px 50px 0;
    background-color: #F6F6F6;
}

.section2-div {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.section2-div img {
    width: 720px;
    height: auto;
}

.section2-content {
    width: 420px;
}

.section2-content h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.2;
}

.section2-content p {
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section2 {
        padding: 45px 20px 45px 0;
    }
    
    .section2-div {
        margin: 0 auto;
        width: 900px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .section2-div img {
        width: 607px;
        height: auto;
    }
    
    .section2-content {
        width: 270px;
    }
    
    .section2-content h2 {
        font-size: 2.1rem;
        font-weight: 800;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    
    .section2-content p {
        font-size: 1.13rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

}

@media screen and (max-width: 430px) {
    .section2 {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .section2-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .section2-div img {
        width: 100%;
        height: auto;
        order: -1;
    }

    .section2-content {
        width: 100%;
    }

    .section2-content h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    .section2-content p {
        font-size: 1.2rem;
    }
}

/*  SECTION 3 */

.section3 {
    box-sizing: content-box;
    width: 100%;
    padding: 50px 25px 50px 0;
}

.section3-div {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.section3-div img {
    width: 720px;
    height: auto;
}

.section3-content {
    width: 420px;
}

.section3-content h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.2;
}

.section3-content p {
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section3 {
        padding: 45px 20px 45px 0;
    }
    
    .section3-div {
        margin: 0 auto;
        width: 900px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .section3-div img {
        width: 607px;
        height: auto;
    }
    
    .section3-content {
        width: 270px;
    }
    
    .section3-content h2 {
        font-size: 2.1rem;
        font-weight: 800;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    
    .section3-content p {
        font-size: 1.13rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

}

@media screen and (max-width: 575px) {
    .section3 {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .section3-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .section3-div img {
        width: 100%;
        height: auto;
    }

    .section3-content {
        width: 100%;
    }

    .section3-content h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    .section3-content p {
        font-size: 1.2rem;
    }
}

/* SECTION 4 */

.section4 {
    box-sizing: content-box;
    width: 100%;
    padding: 50px 25px 50px 0;
    background-color: #F6F6F6;
}

.section4-div {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section4-div h2 {
    width: 700px;
    font-family: "Luckiest Guy", cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
}

.section4-div p {
    font-size: 1.2rem;
    text-align: center;
}

.section4-div img {
    width: 1100px;
    height: auto;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section4 {
        padding: 45px 20px 45px 0;
    }
    
    .section4-div {
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .section4-div h2 {
        width: 400px;
        font-family: "Luckiest Guy", cursive;
        font-size: 2.1rem;
        text-align: center;
    }
    
    .section4-div p {
        font-size: 1.13rem;
        text-align: center;
    }
    
    .section4-div img {
        width: 900px;
        height: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {

}

@media screen and (max-width: 430px) {
    .section4 {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .section4-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .section4-div img {
        width: 100%;
        height: auto;
    }

    .section4-div h2 {
        width: 100%;
        font-size: 2rem;
        text-align: left;
        letter-spacing: 0.05em;
    }

    .section4-div p {
        font-size: 1.2rem;
        text-align: left;
    }
}

/* FOOTER */

footer {
    box-sizing: content-box;
    width: 100%;
    background-color: #23272A;
    padding: 55px 0;
    display: flex;
    justify-content: center;
}

footer img {
    width: 240px;
    height: auto;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    footer {
        box-sizing: border-box;
        padding: 40px 0;
    }

    footer img {
        width: 190px;
        height: auto;
    }
}

@media screen and (max-width: 430px) {
    footer {
        box-sizing: border-box;
        padding: 40px 0;
    }

    footer img {
        width: 190px;
        height: auto;
    }
}